@use './helpers' as *;

/// @deprecated
$_old-private-variable: 1px;

.test {
  content: $old-variable + old-function();

  @include old-mixin();

  content: $_old-private-variable;
}

@use '../namespace' as ns;

.foo {
  color: ns.$deprecated;
  @include ns.mix-mix-ohno;
}
