# Logs
logs/
*.log
npm-debug.log*

# Dependency directory
node_modules/
!fixtures/e2e/node_modules
!fixtures/e2e/completion/node_modules

# Compiled and temporary files
dist/
out/
*.vsix
.vscode-test
.vscode-test-web
.eslintcache
.nyc_output
coverage/

# Configuration
.eslintcache
