# Logs
logs/
*.log
npm-debug.log*

# Cache
.eslintcache

# Configuration
.github/
.vscode/
.editorconfig
.eslintrc.json
.gitattributes
.gitignore
.npmrc
tsconfig.json

# Source and test files
.vscode-test/
fixtures/
src/
types/

# Build artifacts
out/**/*.spec.*
out/**/*.ts
*.vsix
