# Logs
logs/
*.log
npm-debug.log*

# Cache
.eslintcache

# Configuration
.github/
.vscode/
.editorconfig
.eslintrc.json
.gitattributes
.gitignore
.npmrc
tsconfig.json
webpack.config.js

# Dependencies
node_modules/

# Source and test files
.vscode-test/
.vscode-test-web/
.nyc_output/
coverage/
fixtures/
src/
types/
patches/
CHANGELOG.md

# Build artifacts
out/
*.vsix
