$color: blue;
$fonts: -apple-system;

.foo {
  color: $;
}

@import '~foo/bar.scss';

.foo {
  color: $;
}

@import './partial';

.foo {
  color: $;
}

@use '../namespace' as ns;

.foo {
  color: ns.
  @include ns.
  --runtime-var: var(--other-var, #{ns.})
  font-size: -#{ns.}
}

@function _multiply($value) {
  @return $value * ns.;
}

@use "sass:math";

.foo {
  padding: math.fl
}
