name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Update npm for attestation feature
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm clean-install

      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures

      - name: Run linter
        run: npm run lint

      - name: Build extension
        run: npm run build:production

      - name: Run tests
        run: npm run test

      - name: Run e2e tests in simulated X environment
        run: xvfb-run -a npm run test:e2e
        if: runner.os == 'Linux'

      - name: Run e2e tests
        if: runner.os != 'Linux'
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: npm run test:e2e

      - name: Run web e2e tests
        if: runner.os != 'macOS'
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: npm run test:web
